# dependencies
/node_modules/
/.pnp
.pnp.js

# build output
/dist/
/build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# editor / system
.DS_Store
*.swp
*.swo
.idea/
.vscode/

# vite
/.vite/
.vite-temp/

# tests
/coverage/

# env
.env
.env.*
!.env.example
.env.local

# cache
/.cache/
/tmp/

# storybook (если появится)
/storybook-static/

# custom
/.dev/
