/* src/components/Header/Header.module.css */
.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--badges);
  border-bottom: 1px solid var(--badges);
  height: 68px;
  margin-bottom: 4px;
  padding-top: 26px;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 104px;
  height: 16px;
}

.nav {
  display: flex;
  gap: 32px;
}

.link {
  color: var(--main);
  text-decoration: none;
  font: var(--body);
}

.active {
  color: var(--button);
}
